[Unit]
Description=Node Service
After=docker.service
Requires=docker.service

[Service]
ExecStartPre=/usr/bin/docker pull node
ExecStart=/usr/bin/docker run --name myservice -p 8000:8000 node
ExecStop=/usr/bin/docker rm myservice
TimeoutStartSec=0
Restart=always
RestartSec=10s

[X-Fleet]
X-Conflicts=myservice@*.service