[Unit]
Description=Node Service
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill myservice
ExecStartPre=-/usr/bin/docker rm myservice
ExecStartPre=/usr/bin/docker pull node:0.11-onbuild
ExecStart=/usr/bin/docker run --name myservice node:0.11-onbuild myservice
ExecStop=/usr/bin/docker stop myservice

[X-Fleet]
X-Conflicts=myservice@*.service